.homepanel {
  width: 100%;

  &__container {
    display: flex;
  }

  &__title-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-size: 2.5rem;
      font-weight: 400;
      margin: 0;
      padding-left: 5rem;
    }

    &__subtitle {
      font-size: 3rem;
      font-weight: 400;
      margin: 1rem 0;
      padding-left: 5rem;

      & b {
        color: #5694b2;
      }
    }

    &__info {
      font-weight: 400;
      font-size: 2rem;
      margin: 0;
      padding-left: 5rem;

      & b {
        color: #345e72;
      }
    }
  }

  &__image-container {
    flex: 1;
    height: 35rem;
    display: flex;
    align-items: center;
  }

  &__image {
    width: 800px;
    height: auto;
  }
}
