@import "../variables";

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: all 0.3s ease-out 0s;
  margin-bottom: 5rem;

  &__title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
    padding-left: 3rem;
    color: $tertiary-regular;

    &:hover {
      filter: drop-shadow(0 0 2px $tertiary-very-dark);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    padding-right: 3rem;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: $primary-regular;

    & div:hover {
      color: $primary-extra-dark;
    }
  }

  .repository-button {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid $tertiary-regular;
    background-color: $tertiary-extra-dark-opacity;
    padding: 0.25rem 1.75rem;

    & img {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      background-color: $tertiary-regular;
    }
  }
}

.sticky {
  transition: all 0.3s ease-out 0s;
  background-color: #15262fcd;
  backdrop-filter: blur(10px);

  .navbar__buttons div {
    &:hover {
      color: $primary-extra-light;
    }
  }
}
