.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: all 0.3s ease-out 0s;
  margin-bottom: 5rem;

  &__title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
    padding-left: 3rem;
    color: #5694b2;

    &:hover {
      filter: drop-shadow(1px 1px 5px #a7a7a7);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__buttons {
      display: flex;
      align-items: center;
      padding-right: 3rem;
      gap: 1rem;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }

  .repository-button {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #345e72;
    background-color: rgba(52, 94, 114, 50%);
    padding: 0.25rem 1.75rem;

    & img {
      width: 1rem;
      height: 1rem;
    }
  }
}

.sticky {
  transition: all 0.3s ease-out 0s;
  background-color: #15262fcd;
  backdrop-filter: blur(10px);
}
