@import "../variables";

.skills {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 2rem;
      font-weight: 400;

      & b {
        color: $primary-extra-dark;
      }
    }
  }
}
