.translate-button {
  margin-right: 1rem;
  background: #ffffff;
  color: rgb(39, 39, 39);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.25em;
  cursor: pointer;

  &:hover {
    transition: 0.4s;
    color: rgb(255, 255, 255);
    background: #222222;
    box-shadow: 1px 1px 5px #5a5a5a;
  }
}
