$primary-extra-light: #8bb5ca;
$primary-very-light: #79aac2;
$primary-light: #689fba;
$primary-regular: #5694b2;
$primary-dark: #4b87a4;
$primary-very-dark: #437892;
$primary-extra-dark: #3b6a81;

$secondary-extra-light: #3b6a82;
$secondary-very-light: #335c70;
$secondary-light: #2b4d5f;
$secondary-regular: #233f4d;
$secondary-dark: #1b313b;
$secondary-very-dark: #13222a;
$secondary-extra-dark: #0b1418;

$tertiary-extra-light: #8bcabf;
$tertiary-very-light: #79c2b5;
$tertiary-light: #68baac;
$tertiary-regular: #56b2a2;
$tertiary-dark: #4ba494;
$tertiary-very-dark: #439284;
$tertiary-extra-dark: #3b8175;
$tertiary-extra-dark-opacity: #3b81757c;

$light-background-gradient: linear-gradient(160deg, #f7fafc 0%, #b4d0dd 100%);

$white: #ffffff;
$black: #000000;


